:root {
  --primary-color: #97DBAE
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

.currency-img {
  width: 200px;
}

h1 {
  color: var(--primary-color);
}

p {
  text-align: center;
}

.swap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.swap-btn {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.rate {
  color: var(--primary-color);
  padding: 0 10px;
  font-size: 14px;
}

.currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.currency select {
  appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #dedede;
  background-image: url(./img/noun-dropdown-arrow-1590826.svg);
  background-position: right 0 top 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media(max-width: 600px) {
  .currency input {
    width: 200px;
  }
}